# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.sqlite
*.db

# Data files
data/
*.csv
*.xlsx

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Output files
*.html
*.pptx
